body {
  background-color: #eaedf1;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.1em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: right;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.field-mapping, .delete-webhook, .copy{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  vertical-align: middle;
  cursor: pointer;
}
.field-mapping{
  background: url('edit.png') no-repeat;
  background-size: contain;
}
.delete-webhook{
  background: url('garbage.png') no-repeat;
  background-size: contain;
}
.copy{
  background: url('copy.png') no-repeat;
  background-size: contain;
}
.app-fill{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  left: 0;
  top: 0;
  z-index: 9;
}

#field-mapping-modal{
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: white;
  border-radius: 15px;
  width: 75%;
  table{
    width: 100%;
    td{
      text-align: center;
    }
  }
}
#content-container{
  td, th{
    border-right: 1px solid #cdcdcd;
    text-align: left;
    padding-left: 15px;
  }
  tr td:first-of-type{
    width: 30%;
  }
  tr td:last-of-type{
    width: 15%;
    text-align: center;
    padding-left: 0;
  }
}
#api_key_save:disabled {
  background-color: red;
}
.close-modal{
  display: block;
  width: 20px;
  height: 20px;
  background: url('close-button.png') no-repeat;
  background-size: contain;
  cursor: pointer;
  float: right;
}
.container{
  max-width: 1180px;
  margin: 50px auto 0;
  table{
    border-collapse: collapse;
    margin: 0.5em 0 50px;
    width: 100%;
    select, input{
      padding: 5px;
      width: 70%;
    }
  }
  th{
    background-color: #ebebeb;
    padding: 10px;
  }
  tr{
    border: 1px solid #cdcdcd;
    background-color: white;
  }
  td{
    text-align: center;
    padding: 10px;
  }
  h2{
    font-size: 1.7em;
    line-height: 1.7em;
  }
}
.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-button{
  background-color: #2b3643;
  padding: 7px 50px;
  color: white;
  font-weight: bold;
  border: 2px solid #ccc;
  cursor: pointer;
}
.save-map, .save-map-for-ab-cart{
  float: right;
}

.api-key-wrapper{
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: white;
  border-radius: 15px;
  width: 75%;
  p{
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 10px;
  }
}

#api-key-container{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.5);
  display: none;
  left:0;
  top: 0;
  z-index: 9;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #7d7d7d;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  font-size: 1.2em;
  transition: 0.3s;
  width:33.3%;
  position: relative;
  text-transform: uppercase;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

.tab-decoration{
  border: 2px solid #7d7d7d;
  height: 7px;
  border-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Create an active/current tablink class */
.tab button.active {
    .tab-decoration{
      display: block;
    }
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 7%;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

#abandoned-cart-body{
  display: none;
  animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
